<%- include('partials/header'); -%>
    <div class="container my-5">
        <h3 class="my-5">About Us</h3>
        <div class="row">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center "><img src="images/about-1-570x350.jpg"
                    style="height: 80%;width: 100%;" alt="" class="img-fluid img-responsive"></div>

            <div class="col-md-6 col-sm-12">
                <p>Fast Rentals has a new face. After more than 20 years in business, we decided to give a fresher look
                    to our brand and
                    our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations and
                    requirements.
                </p>
                <ul style="-webkit-padding-start: 0;" class="px-3">
                    <li class="my-1">If you want to book directly through a supplier, and not through a broker – choose
                        Renaissance Rent
                        A Car</li>
                    <li class="my-1">This will give you better flexibility in terms of vehicle choices;</li>
                    <li class="my-1">Vehicle make and model will be confirmed, and not “similar” to those you selected;
                    </li>
                    <li class="my-1">You can directly negotiate some of the terms and conditions, payment options,
                        especially if you
                        require unique or long
                        term rental service</li>
                    <li class="my-1">You can book “commission free”</li>
                    <li class="my-1">You can reach us 24/7 on our mobile numbers</li>
                    <li class="my-1">You can call us free from the “Free call” service on our website</li>
                </ul>

            </div>
        </div>


        <div class="container">
            We offer a varied fleet of cars, ranging from the compact Toyota Etios to the 7-seater Mahindra XUV 500. All
            our
            vehicles
            have air conditioning, power steering, electric windows. All our vehicles are bought and maintained at
            official
            dealerships only. Automatic transmission cars are also available
            <br><br><br>

            We pride ourselves on personalized service, great cars and excellent rates.
        </div>


        <div class="container shadow my-5 d-flex flex-column justify-content-center align-items-center m-auto">
            <div class="container">
                <h5 class="my-3" style="font-size: 2rem; color: red; ">Get in touch</h5>
            </div>
            <div class="container my-4 ">
                <a href="https://twitter.com/AmanMat40448332" target="_blank" class="text-decoration-none "
                    style="color: #32325d;"><i class="fa-brands fa-twitter" style="font-size: 2rem;"></i></a>
                <a href="https://github.com/aman465320" target="_blank" class="px-2 text-decoration-none "
                    style="color: #32325d;"><i class="fa-brands fa-github" style="font-size: 2rem;"></i></a>
                <a href="https://www.linkedin.com/in/aman-mathur-a0b6091b9/" target="_blank"
                    class="px-2 text-decoration-none " style="color: #32325d;"><i class="fa-brands fa-linkedin"
                        style="font-size: 2rem;"></i></a>
                <a href="https://www.instagram.com/mathur_aman_2612/" target="_blank" class="px-2 text-decoration-none "
                    style="color: #32325d;"><i class="fa-brands fa-instagram" style="font-size: 2rem;"></i></a>
            </div>

        </div>


    </div>



    <%- include('partials/footer'); -%>
        </body>

        </html>