<%- include('partials/header'); -%>

    <div class="container-fluid full text-center justify-content-center align-items-center d-flex img-fluid"
        style="background-image: url('images/home_car_image.jpg'); height: 100vh; width: 100vw; background-position: center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed; font-weight: bold; color: rgb(234, 231, 246); font-size: 2rem;">
        Find Your Car Today
        <br>
        Car rental service with smiling prices
    </div>



    <div class="container my-5 d-grid shadow p-5 " style="border-radius: 20px;">
        <h2 class="my-5">Cars</h2>


        <div class="row my-3">

            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card w-100">
                    <img src="images/cars/mahindra_tuv_300.jpg" class="card-img-top img-fluid img-responsive" alt="...">
                    <div class="card-body text-center">

                        <h5 class="card-title">Mahindra TUV 300</h5>

                        <a href="/booking" class="btn text-white" style="background-color: rgb(61, 203, 61);;">Book
                            Now : &#8377 <span style="color: yellow;"> 2499</span></a>
                        <p class="mt-3" style="font-size: 0.75rem;">
                            <i class="fa-solid fa-suitcase-rolling " style="color: rgb(0, 61, 244) ;"></i>
                            <span>2 Baggage</span>
                            <i class="fa-solid fa-chair " style="color: rgb(0, 61, 244);"></i>
                            <span>7 Seater</span>
                            <i class="fa-solid fa-gas-pump " style="color: rgb(0, 61, 244);"></i>
                            <span>Diesel</span>
                            <i class="fa-solid fa-gear" style="color: rgb(0, 61, 244);"></i>
                            <span>Manual</span>
                            <i class="fa-solid fa-car" style="color: rgb(0, 61, 244);"></i>
                            <span>SUV</span>
                        </p>


                    </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-6 col-sm-12 ">
                <div class=" card w-100">
                    <img src="images/cars/mahindra_scorpio.jpg" class="card-img-top img-fluid img-responsive" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mahindra Scorpio</h5>

                        <a href="/booking" class="btn text-white" style="background-color: rgb(61, 203, 61);">Book
                            Now : &#8377 <span style="color: yellow;"> 2599</span></a>
                        <p class="mt-3" style="font-size: 0.75rem;">
                            <i class="fa-solid fa-suitcase-rolling " style="color: rgb(0, 61, 244) ;"></i>
                            <span>2 Baggage</span>
                            <i class="fa-solid fa-chair " style="color: rgb(0, 61, 244);"></i>
                            <span>7 Seater</span>
                            <i class="fa-solid fa-gas-pump " style="color: rgb(0, 61, 244);"></i>
                            <span>Diesel</span>
                            <i class="fa-solid fa-gear" style="color: rgb(0, 61, 244);"></i>
                            <span>Manual/Automatic</span>
                            <i class="fa-solid fa-car" style="color: rgb(0, 61, 244);"></i>
                            <span>SUV</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card w-100">
                    <img src="images/cars/mahindra_kuv_100.jpg" class="card-img-top img-fluid img-responsive" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mahindra KUV 100</h5>

                        <a href="/booking" class="btn text-white" style="background-color: rgb(61, 203, 61);;">Book
                            Now : &#8377 <span style="color: yellow;"> 2399</span></a>
                        <p class="mt-3" style="font-size: 0.75rem;">
                            <i class="fa-solid fa-suitcase-rolling " style="color: rgb(0, 61, 244) ;"></i>
                            <span>2 Baggage</span>
                            <i class="fa-solid fa-chair " style="color: rgb(0, 61, 244);"></i>
                            <span>6 Seater</span>
                            <i class="fa-solid fa-gas-pump " style="color: rgb(0, 61, 244);"></i>
                            <span>Diesel</span>
                            <i class="fa-solid fa-gear" style="color: rgb(0, 61, 244);"></i>
                            <span>Manual</span>
                            <i class="fa-solid fa-car" style="color: rgb(0, 61, 244);"></i>
                            <span>SUV</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card w-100">
                    <img src="images/cars/ford_ecosport.jpg" class="card-img-top img-fluid img-responsive" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Ford Ecosport</h5>

                        <a href="/booking" class="btn text-white" style="background-color: rgb(61, 203, 61);;">Book
                            Now : &#8377 <span style="color: yellow;"> 2199</span></a>
                        <p class="mt-3" style="font-size: 0.75rem;">
                            <i class="fa-solid fa-suitcase-rolling " style="color: rgb(0, 61, 244) ;"></i>
                            <span>2 Baggage</span>
                            <i class="fa-solid fa-chair " style="color: rgb(0, 61, 244);"></i>
                            <span>5 Seater</span>
                            <i class="fa-solid fa-gas-pump " style="color: rgb(0, 61, 244);"></i>
                            <span>Diesel</span>
                            <i class="fa-solid fa-gear" style="color: rgb(0, 61, 244);"></i>
                            <span>Manual</span>
                            <i class="fa-solid fa-car" style="color: rgb(0, 61, 244);"></i>
                            <span>Compact SUV</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-center my-5"><a href="/cars" target="_blank"
                class="text-decoration-none text-center text-primary my-5"> View More > </a></h4>

    </div>



    <div class="container my-5 d-grid shadow p-5" style="border-radius: 20px;">
        <h2 class="my-2">About Us</h2>
        <div class="row">


            <div class="col-md-6 col-sm-12 my-3">Fast Rentals has a new face. After more than 20 years in business, we
                decided to give a fresher look to our
                brand and our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations
                and
                requirements.
                <p><strong>Why choose us ? </strong></p>
                <ul style="-webkit-padding-start: 0;" class="py-4">
                    <li class="my-1">If you want to book directly through a supplier, and not through a broker – choose
                        Renaissance Rent A Car</li>
                    <li class="my-1">This will give you better flexibility in terms of vehicle choices;</li>
                    <li class="my-1">Vehicle make and model will be confirmed, and not “similar” to those you selected;
                    </li>
                    <li class="my-1">You can directly negotiate some of the terms and conditions, payment options,
                        especially if you require unique or long
                        term rental service;</li>
                </ul>
                <a href="/about" target="_blank" class="text-decoration-none my-5 p-2 "
                    style="background-color: red;color: white;border-radius: 6px; font-weight: 300;margin: 1rem 0;">Read
                    More</a>

            </div>


            <div class="col-md-6 col-sm-12 my-3">
                <img src="images/about-1-570x350.jpg" style="height: 100%;" class="img-fluid" alt="">
            </div>
        </div>
    </div>


    <div class="container-fluid"
        style="background-image: url('images/other-image-fullscren-1-1920x900.jpg');height: 100vh; width: 100vw;background-position: center;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">

        <div class="container my-5">
            <h3 class="my-5 text-white text-center" style="font-weight: 500; "> Latest Blog Posts
            </h3>
            <div class="row w-100 d-flex justify-content-center align-items-center m-auto">
                <div class="col-4 ">
                    <div class="card card-cover overflow-hidden" style="width: 100%;">
                        <img class="card-img-top img-fluid" src="images/blog_images/blog_img_1.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center my-1">Why to lease/rent a vehicle</h5>
                            <p class="card-text">Regardless of whether it'd be intended for business...</p>
                            <a href="https://zoomrentals.com/blog/why-to-lease-or-rent-vehicle" target="_blank"
                                class="text-center text-decoration-none">Read more +</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top img-fluid" src="images/blog_images/blog_img_2.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center my-1">Post Covid car renting</h5>
                            <p class="card-text">As Covid immunization advances, travel anticipat...</p>
                            <a href="https://zoomrentals.com/blog/post-covid-car-renting" target="_blank"
                                class="text-center text-decoration-none">Read more +</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 100%; ">
                        <img class="card-img-top img-fluid" src="images/blog_images/blog_img_3.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center my-1">15 KEY THINGS TO KEEP IN YOUR CAR </h5>
                            <p class="card-text">You plan out what things to bring to work...</p>
                            <a href="https://zoomrentals.com/blog/15-key-things-to-keep-in-your-car-for-emergency-situations"
                                target="_blank" class="text-center text-decoration-none">Read more + </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-white">Latest Blog Posts</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
           
                    <img src="images/blog-1-370x270.jpg" alt="Bootstrap" width="32" height="32"
                        class="rounded-circle border border-white">
     
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines
                    </h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Pakistan</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>4d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>  -->






    </div>


    <div class="container shadow my-5">
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Happy Clients</h2>
            <div class="row g-4 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">

                    </div>
                    <h2>John Doe</h2>
                    <p> I have rented cars from Fast Rental on 3 different occasions, and they have been excellent each
                        time. The prices are
                        competitive,...
                </div>
                <div class="feature col">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">

                    </div>
                    <h2>Jane Smith</h2>
                    <p>I have used Fast Rental for both my personal and professional needs. I've rented cars, bikes, and
                        equipment from them...

                </div>
                <div class="feature col">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">

                    </div>
                    <h2>Antony Davis</h2>
                    <p>I was looking for a rental company that would deliver to me on the same day. I found Fast Rental
                        and I am very happy
                        with the service...</p>

                </div>
            </div>
        </div>
        <h4 class="text-center "><a href="/reviews" target="_blank"
                class="my-5 text-decoration-none text-center text-primary "> View
                More > </a></h4>


    </div>



    <%- include('partials/footer'); -%>

        </body>

        </html>